* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.center {
    background-color: bisque;
}

.hamburger {
    background-color: brown;
}

.cake {
    background-color:peru
}

.blueberry {
    background-color:cornflowerblue
}

.title {
    font-size: 80px;
}

.subtitle {
    font-size: 35px;
    
}

.return {
    font-size: 40px;
    border: 2px double black;
}

.list {
    text-align: left;
    font-size: 25px;
    list-style:circle
}

.pagelinks {
    list-style: none;
}

.p {
    font-size: 20px;
    text-align: left;
}